@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #fff;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  /* height: 3000px; */
}

.box {
  width: 100px;
  height: 100px;
  background-color: aqua;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  margin: 10px;
}

.img-holder {
  /* position: sticky;
  top: 0; */
  clip-path: polygon(35% 0%, 65% 0%, 65% 100%, 35% 100%);
  position: absolute;
  transform: translate(-50%, 0%);
  width: 99.1vw;
  height: auto;
  top: 0px;
  left: 50%;
}
